.quote-feed {
  background: #FBFBFD;
  border: 1px solid #E3DFDF;
  box-shadow: 0 4px 20px rgba(119, 119, 119, 0.05);
  border-radius: 10px;
  max-width: 454px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 80vh;
  padding: 46px 25px 32px 25px;

  .quote-feed-scroll {
    max-height: 560px;
    overflow-x: auto;
  }

  .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 18px;
  }

  .load-more {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FF8E8E;
    cursor: pointer;
  }
}